.card .card-content p {
    min-height: 48px;
}

.card-title.card-title {
    margin: 0;
    font-weight: 500;
}

@media #{$small-and-down} {
    .match-height {
        height: auto !important;
    }
}
