/**
 * partials/header
 * ---
 */


// Header container
.header {
    .logo {
        text-align: center;
        margin-top: 16px;
    }

    .brand-logo {
        height: 95px;
    }

    .logo-img {
        margin: 0 auto;
        max-height: 95px;

        @media (max-width: 480px) {
            max-width: 200px;
        }
    }
}

// Logo
.logo {}

.logo-img {}

h1 {
    margin-top: 3.2rem;
}
