.sidenav {
    li a {
        height: auto;
        line-height: 1.4;
        padding: 14.5px 32px;
    }

    .collapsible-body {
        li a {
            padding: 17px 32px 17px 45px;
            font-weight: 400;
        }

        li.menu-item-has-children a {
            font-weight: 500;
        }

        .collapsible-body li a {
            padding-left: 58px;
        }
    }

    .toggle-button.toggle-button.toggle-button.toggle-button {
        margin: 0;
        height: 18px;
        line-height: 18px;
        float: none;
        vertical-align: text-bottom;
        color: rgba(0, 0, 0, 0.87);
    }

    .toggle-button {
        transition: transform 0.2s;

        &.open {
            transform: rotate(90deg);
        }
    }

    padding-bottom: 200px;

    &.hidden li {
        visibility: hidden;
    }
}

.no-js .sidenav.hidden li {
    visibility: visible;
}

.sidenav li > a.brand-logo {
    height: auto;

    &:hover {
        background-color: transparent;
    }
}

.header .sidenav {
    .logo {
        margin-top: 0;
    }

    .brand-logo {
        height: auto;
        padding: 0;
        margin-top: 0;
    }

    .logo-img {
        max-height: none;
    }
}

.sidenav-trigger {
    position: absolute;
    top: 43px;
    padding-left: 0.75rem;

    .material-icons {
        font-size: 40px;
        color: $primary-color;
    }
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active.current-menu-ancestor {
    background-color: rgba(0,0,0,.05);

    a {
        color: $sidenav-font-color;
    }
}
